################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FunWithDev/v16/TestStore/0
/.vs/FunWithDev/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Palindromes/.vs/FunWithPalindromes/v16/.suo
/Palindromes/.vs/Palindromes/v16/TestStore/0/000.testlog
/Palindromes/.vs/Palindromes/v16/TestStore/0/testlog.manifest
/Palindromes/Palindromes/obj
/Palindromes/.vs/Palindromes/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest
/Palindromes/.vs/FunWith.Palindromes/v16/.suo
/Palindromes/FunWIth.Palindromes.API/obj
/Palindromes/FunWith.Palindromes.Contracts/obj
/Palindromes/FunWith.Palindromes.Manager/obj
/Palindromes/FunWIth.Palindromes.API/bin/Debug/net5.0
/Palindromes/FunWith.Palindromes.Contracts/bin/Debug/net5.0
/Palindromes/FunWith.Palindromes.Manager/bin/Debug/net5.0
/Palindromes/Palindromes/bin/Debug/net5.0
*.v2
