################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FunWithDev/v16/TestStore/0
/.vs/FunWithDev/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Palindromes/.vs/FunWithPalindromes/v16/.suo
/Palindromes/.vs/Palindromes/v16/TestStore/0/000.testlog
/Palindromes/.vs/Palindromes/v16/TestStore/0/testlog.manifest
/Palindromes/Palindromes/obj
/Palindromes/.vs/Palindromes/DesignTimeBuild/.dtbcache.v2
*.testlog
*.manifest
/Palindromes/.vs/FunWith.Palindromes/v16/.suo
/Palindromes/FunWIth.Palindromes.API/obj
/Palindromes/FunWith.Palindromes.Contracts/obj
/Palindromes/FunWith.Palindromes.Manager/obj
/Palindromes/FunWIth.Palindromes.API/bin/Debug/net5.0
/Palindromes/FunWith.Palindromes.Contracts/bin/Debug/net5.0
/Palindromes/FunWith.Palindromes.Manager/bin/Debug/net5.0
/Palindromes/Palindromes/bin/Debug/net5.0
*.v2
/Palindromes/FunWith.Palindromes.Tests/bin/Debug/net5.0
/Palindromes/FunWith.Palindromes.Tests/obj
/Palindromes/.vs/Fun.With.Dev.Palindromes/config/applicationhost.config
/Palindromes/Fun.WIth.Dev.Palindromes.API/bin/Debug/net5.0
/Palindromes/Fun.WIth.Dev.Palindromes.API/obj
/Palindromes/Fun.With.Dev.Palindromes.Contracts/bin/Debug/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Contracts/obj
/Palindromes/Fun.With.Dev.Palindromes.Manager/bin/Debug/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Manager/obj
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Debug/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Tests/obj
/Palindromes/Fun.With.Dev.Palindromes.API/bin/Release/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Manager/bin/Release/net5.0/ref
/Palindromes/Fun.With.Dev.Palindromes.Contracts/bin/Release/net5.0/ref
/Palindromes/Fun.With.Dev.Palindromes.Contracts/bin/Release/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Manager/bin/Release/net5.0
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/CoverletSourceRootsMapping
/Palindromes/Fun.With.Dev.Palindromes.API/Properties/serviceDependencies.FunWithDevPalindromesAPI - Web Deploy.json
/Palindromes/Fun.With.Dev.Palindromes.API/Properties/serviceDependencies.FunWithDevPalindromesAPI - Web Deploy.json.user
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/cs
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/de
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/es
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/fr
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0/it
/Palindromes/Fun.With.Dev.Palindromes.Tests/bin/Release/net5.0
/Palindromes/Palindromes/bin/Release/net5.0
