<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/5988e66e-e4b8-4072-8040-7416867a6e73/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.ContainerRegistry/registries/FunWithDevPalindromes</ContainerResourceId>
    <ContainerResourceName>FunWithDevPalindromes</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>funwithdevpalindromes.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://funwithdevpalindromes.scm.azurewebsites.net/</SCMUrl>
    <ApiResourceId>/subscriptions/5988e66e-e4b8-4072-8040-7416867a6e73/resourceGroups/cloud-shell-storage-southcentralus/providers/Microsoft.ApiManagement/service/FunWithDevPalindromesAPIapi/apis/FunWithDevPalindromesAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5988e66e-e4b8-4072-8040-7416867a6e73/resourcegroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/FunWithDevPalindromes</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://funwithdevpalindromes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c3c4cff0-dc4a-4ca1-ac9b-8e5becf57064</ProjectGuid>
  </PropertyGroup>
</Project>