<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5988e66e-e4b8-4072-8040-7416867a6e73/resourceGroups/cloud-shell-storage-southcentralus/providers/Microsoft.Web/sites/FunWithDevPalindromesAPI</ResourceId>
    <ResourceGroup>cloud-shell-storage-southcentralus</ResourceGroup>
    <ApiResourceId>/subscriptions/5988e66e-e4b8-4072-8040-7416867a6e73/resourceGroups/cloud-shell-storage-southcentralus/providers/Microsoft.ApiManagement/service/FunWithDevPalindromesAPIapi/apis/FunWithDevPalindromesAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funwithdevpalindromesapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>275819ca-6f25-46e5-84d1-b103687fc09d</ProjectGuid>
    <MSDeployServiceURL>funwithdevpalindromesapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FunWithDevPalindromesAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$FunWithDevPalindromesAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>